<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EloLink | Chats</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="/website/css/signup.css"> <!-- ../static -->
    <link rel="stylesheet" href="/website/css/sections.css">
    <link rel="stylesheet" href="/website/css/boxes.css">

    <script type="module" src="/website/js/chat.js" defer></script>
</head>
<body>

<!-- Profiles Section -->
<section id="profile_section">
    <div>
        <div class="friendbox">
            <img src="/website/images/profile_picture_default.png" class="friendbox-pfp">
            <div class="friendbox-info">
                <span class="friendbox-name">Mr. Stein</span>
                <span class="friendbox-username">elo</span>
            </div>
        </div>
        <div class="friendbox">
            <img src="../static/website/images/profile_picture_default.png" class="friendbox-pfp">
            <div class="friendbox-info">
                <span class="friendbox-name">Juan Mendez</span>
                <span class="friendbox-username">Online</span>
            </div>
        </div>
        <div class="friendbox">
            <img src="../static/website/images/profile_picture_default.png" class="friendbox-pfp">
            <div class="friendbox-info">
                <span class="friendbox-name">Juan Mendez</span>
                <span class="friendbox-username">Online</span>
            </div>
        </div>
        <div class="friendbox">
            <img src="../static/website/images/profile_picture_default.png" class="friendbox-pfp">
            <div class="friendbox-info">
                <span class="friendbox-name">Juan Mendez</span>
                <span class="friendbox-username">Online</span>
            </div>
        </div>
        <div class="friendbox">
            <img src="../static/website/images/profile_picture_default.png" class="friendbox-pfp">
            <div class="friendbox-info">
                <span class="friendbox-name">Juan Mendez</span>
                <span class="friendbox-username">Online</span>
            </div>
        </div>
        <div class="friendbox">
            <img src="../static/website/images/profile_picture_default.png" class="friendbox-pfp">
            <div class="friendbox-info">
                <span class="friendbox-name">Juan Mendez</span>
                <span class="friendbox-username">Online</span>
            </div>
        </div>
    </div>
</section>


<!-- Chat Section -->
<section id="chat_section">
    <div>
        <ul class="chatbox">
            <li class="message other">
                <span class="message-text">Hallo 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message me">
                <span class="message-text">Hi!</span>
                <span class="message-time">14:33</span>
                <span class="checker">&#10003;&#10003;</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message me">
                <span class="message-text">Hi!</span>
                <span class="message-time">14:33</span>
                <span class="checker">&#10003;&#10003;</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
            <li class="message other">
                <span class="message-text">Hallo opawh fhoiesh fbefp grs rish  9 irduhg d ih riodhi thoidhoiyh oihwp ksmm fpesm pfm okmap emp mpfompoyfmpo mommmO mopMOP moPM opm opM FOMSO rh0gh s0g h0r gh0r8d hg08h hgs0h 0sri hgsi hg yr nkdnson skrn osng osrn gosrngoi nfdoin irnbr 👋</span>
                <span class="message-time">14:34</span>
            </li>
        </ul>

        <div class="writingbox">
            HALLO
        </div>
    </div>
</section>

<!-- Sidebar Section -->
<section id="sidebar_section">
    <div>
        <div class="headerbox">
            <ion-icon name="home-outline"></ion-icon>
        </div>
        <ul class="listbox">
            <li class="sidebar_text"><a href="/elolink/login" class="link">Homepage</a></li>
            <li class="sidebar_text"><a href="/elolink/login" class="link">Sign up</a></li>
            <li class="sidebar_text"><a href="/elolink/login" class="link">Login</a></li>
            <li class="sidebar_text"><a href="/elolink/login" class="link">App Download</a></li>
            <li class="sidebar_text"><a href="/elolink/login" class="link">App Modification</a></li>
            <li class="sidebar_text"><a href="/elolink/login" class="link">Api Usage</a></li>
            <li class="sidebar_text"><a href="/elolink/login" class="link">Authors</a></li>
            <li class="sidebar_text"><a href="/elolink/login" class="link">About Me</a></li>
            <li class="sidebar_text"><a href="/elolink/login" class="link">Imprint</a></li>
            <li class="sidebar_text"><a href="/elolink/login" class="link"> </a></li>
            <li class="sidebar_text"><a href="/elolink/login" class="link">Work in Progress!!!</a></li>
        </ul>
    </div>
</section>

<!-- Information Section -->
<section id="info_section">
    <div>
        <img src="../static/website/images/elolink_icon.jpg" class="elolink_icon">
        <ul class="listbox">
            <p class="link, sidebar_text">INFO</p>
            <p class="sidebar_text">This is the Sign-up Site of EloLink. Please verify your account after it's creation
                with the E-Mail we send you.</p>
            <p class="link, sidebar_text">NOTE</p>
            <p class="sidebar_text">Both your Username and your Email must be unique. We remind you to choose a strong
                password to not get brute forced.</p>
            <p class="link, sidebar_text">HELP</p>
            <p class="sidebar_text">If you're having trouble with the creation of your account or to verify it, please
                contact us via elolink.offical@gmail.com</p>
        </ul>
    </div>
</section>

</body>
</html>